* {
    margin: 0;
    padding: 0;

    
    
}

body {
    display: flex;
    flex-direction: column;
    height: auto;

    background-color: crimson;
    form {
        display: flex;
        flex-direction: column;
    
        .score {
            display: flex;
            flex-direction: column;
    
            background-color: brown;
    
            height: auto;
            width: 100%;
    
            margin-bottom: 50px;
    
            .theGame {
                text-align: center;
                width: 100%;
            }
            .scoreBoard {
                text-align: center;
                width: 100%;
    
                .yourScore {
                    padding-top: 20px;
                    .playerScore {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        background-color: burlywood;
                    }
                }
    
                .pcScore {
                    padding-top: 20px;
                    padding-bottom: 10px;
                    .computerScore {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        background-color: burlywood;
                    }
                }
            }
        }
        .playerChoice:active {
            background-color: rgb(116, 116, 116);
        }

        .playerChoice {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;

            
        }
        
        .pc-choice {
            width: 100px;
            height: auto;
            background-color: aqua;
            margin: auto;
            text-align: center;
    
            padding-top: 40px;
            padding-bottom: 40px;
            
        }
    
        .rightwrong {
            background-color: aquamarine;
            display: flex;
            flex-direction: column;
    
            width: 200px;
            height: auto;
            margin: auto;
            margin-top: 15px;
            text-align: center;
        }
    
        .choices {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 20px;
        }
    
        .action {
            margin-top: 50px;
            text-align: center;;
        }
    }
}